@{Layout = null; }


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="./css/login/Login.css" />

    <title>Login Page</title>
</head>

<body>
    <div class="container">

        <div class="container_left">
            <!-- <img src="./images/knust entrance.jpg" alt=""> -->
        </div>
        <div class="container_right">
            <div>
                <h1 style="color:cornflowerblue; font-family: 'Roboto'">UITS-KNUST</h1>
            </div>
            <div style="height:200px;  ">
                <img src="./images/knust logo.png" alt="" style="width:100%;
                height:100%;
                object-fit:contain;">
            </div>


            <div>
                <form method="post">
                    <input type="text" placeholder="Email">
                    <input type="text" placeholder="Password">

                    <h4 style="cursor:pointer">Forgot Password?</h4>

                    <button type="button" formaction="dashboard/index">Login</button>
                </form>
            </div>


            <div class="container_button">
                <a href="https://helpdesk.knust.edu.gh/" target="_blank" style="text-decoration: none; display: flex;    justify-content: center;
                align-items: center;">
                    <img style="height: 31px;width:35px"
                         src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/60/000000/external-headphone-airport-vitaliy-gorbachev-blue-vitaly-gorbachev.png" />
                    <h3 style="color: cornflowerblue; font-weight: 500"> <strong>Support</strong></h3>
                </a>
                <h3 href="https://helpdesk.knust.edu.gh/" target="_blank">helpdesk@knust.edu.gh</h3>
                <h3>0244112233</h3>

                <a style="text-decoration: none; font-size: 15px;
                color:#00000060;" href=" https://www.knust.edu.gh/" target="_blank">www.knust.edu.gh</a>
            </div>
        </div>
    </div>
</body>

</html>