 @section Styles{
     <link href="~/css/Dashboard/Details.css" rel="stylesheet" />
 }

@{ 

}
<div>
    <div class="contianer">
        <div class="container_requisitions">
            <div class="top_requisitions">
                <div class="left">
                    <h3>Requisitions</h3>
                    <span>23</span>
                </div>

                <button class="right">
                    See All
                </button>

            </div>
            <div style=" width: 100%; border: 3px solid #f1f3f3; border-bottom: none; border-left: none; border-right: none; "></div>

            <div class="employees" style="padding: 2%;">
                <table>
                    <tbody>
                        <!--<colgroup>
                            <col span="1" style="width: 245px;">-->
                        <!-- <col style="background-color:yellow"> -->
                        <!--</colgroup>-->
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Department</th>
                            <th>Mobile No.</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td class="imageName">
                                <div>
                                    <img src="~/images/user.jpg">
                                </div>
                                <span>Alfreds Futterkiste</span>
                            </td>
                            <td>Reasearch Lab</td>
                            <td>Germany</td>
                            <td>22555255255</td>
                            <td class="lastdetails"> <button>Order Details</button> </td>
                        </tr>
                        <tr>
                            <td class="imageName">
                                <div>
                                    <img src="~/images/user.jpg">
                                </div>
                                <span>
                                    Centro comercial Moctezuma
                                </span>
                            </td>
                            <td>SDS/UITS</td>
                            <td>Mexico</td>
                            <td>22555255255</td>
                            <td class="lastdetails"> <button>Order Details</button> </td>
                        </tr>
                        <tr>
                            <td class="imageName">
                                <div>
                                    <img src="~/images/user.jpg">
                                </div>
                                <span>
                                    Centro comercial Moctezuma
                                </span>
                            </td>
                            <td>SDS/UITS</td>
                            <td>Mexico</td>
                            <td>22555255255</td>
                            <td class="lastdetails"> <button>Order Details</button> </td>
                        </tr>
                        <tr>
                            <td class="imageName">
                                <div>
                                    <img src="~/images/user.jpg">
                                </div>
                                <span>
                                    Centro comercial Moctezuma
                                </span>
                            </td>
                            <td>SDS/UITS</td>
                            <td>Mexico</td>
                            <td>22555255255</td>
                            <td class="lastdetails"> <button>Order Details</button> </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>

    <!-- the bottom of the dashboard -->
    <div class="down-container">
        <div class="container-left" >
            <div class="left-heading">
                <h1>Stock</h1>
                <button class="right">See All</button>
            </div>
            <div class="content">

            </div>
        </div>
        <div class="container-right">
            <div class="right-heading">
                <h1>Usage</h1>
                <div>
                    hdk
                </div>
                <div>
                    qwer
                </div>
            </div>
        </div>
    </div>
</div>