@model EmployeeRequestModel

@{ Layout = null;}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Registration Form Widget Flat Responsive Widget Template :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- //custom-theme -->
    <link href="~/css/Request/Request.css" rel="stylesheet" type="text/css" media="all" />

    <!-- font-awesome-icons -->
    <!-- //font-awesome-icons -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- banner -->
    <div class="center-container">
        <div class="main">
            <h1 class="w3layouts_head">Inventory Registration Form</h1>
            <div class="w3layouts_main_grid">
                <form class="w3_form_post" method="post">
                    <div id="firstBlock">
                        <h1 style="font-size: 1.2rem"> Personal Information</h1>
                        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Surname </label>
                                <input type="text" asp-for="Employee.LastName" placeholder="Your surname" >
                            </span>
                        </div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Other Names </label>
                                <input type="text" asp-for="Employee.FirstName" placeholder="Other Name" >
                            </span>
                        </div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Email </label>
                                <input type="text" asp-for="Employee.Email" placeholder="Your Email">
                            </span>
                        </div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Position </label>
                                <input type="text" asp-for="Employee.Position" placeholder="Position">
                            </span>
                        </div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Primary Phone Number </label>
                                <input type="text" asp-for="Phone.ContactNumber" placeholder="Phone Number" >
                            </span>
                        </div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Secondary Phone Number </label>
                                <input type="text" asp-for="Phone.ContactNumber" placeholder="Phone Number">
                            </span>
                        </div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Department </label>
                                <select name="Department" asp-for="Employee.Department">
                                    <option value="none" selected="">Select department</option>
                                    <option value="Ph">50</option>
                                    <option value="Po">100</option>
                                    <option value="So">200</option>
                                    <option value="Sp">500</option>
                                    <option value="Sw">1000</option>
                                </select>
                            </span>
                        </div>
                        <div class="w3_agileits_main_grid w3l_main_grid">
                            <span class="agileits_grid">
                                <label>Reason for Request </label>
                                <textarea placeholder="e.g elections.." asp-for="Request.Description" style="height:50px"></textarea>
                            </span>
                        </div>

                        @*<button onclick="myFunction()" id="nextPage" style="  text-transform: uppercase; cursor: pointer; padding: 10px 0; width: 22%; outline: none; background-color: #cd31c1; border: none; color: white;">
                            Next
                        </button>*@
                    </div>

                    <div id="secondBlock" >
                        <div class="content-w3ls">
                            <div class="form-w3ls">
                                <div class="content-wthree2">
                                    <h1 style="font-size: 1.2rem"> Select items</h1>
                                    
                                    <div class="Items_container">
                                        <div class="item_heading">
                                            <h4>Items</h4>
                                            <h4>Quantity</h4>
                                        </div>

                                        <div id="itt">
                                            <div id="childItems" class="items">
                                                <div class="w3_agileits_main_grid w3l_main_grid">
                                                    <span class="agileits_grid">
                                                        <select asp-for="ProductOrder.ProductId">
                                                            <option value="none" selected="">Select item</option>
                                                            <option value="Ph">50</option>
                                                            <option value="Po">100</option>
                                                            <option value="So">200</option>
                                                            <option value="Sp">500</option>
                                                            <option value="Sw">1000</option>
                                                        </select>
                                                    </span>
                                                </div>

                                                <div style=" display: flex; align-items: center; justify-content: space-around; grid-gap: 20px">
                                                    <div class="w3_agileits_main_grid w3l_main_grid">
                                                        <span class="agileits_grid">
                                                            <select asp-for="ProductOrder.Quantity" >
                                                                <option value="none" selected="">Quantity</option>
                                                                <option value="Ph">50</option>
                                                                <option value="Po">100</option>
                                                                <option value="So">200</option>
                                                                <option value="Sp">500</option>
                                                                <option value="Sw">1000</option>
                                                            </select>
                                                        </span>
                                                    </div>

                                                    <div onclick="removeRow(this)" style="padding: 5px; cursor: pointer; background-color: #dd6363; width: 20px; text-align: center; ">
                                                    <span style="color: white;">X</span>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                            
                                        </div>

                                        <div onclick="addItems()" style=" width: 80px; padding: 10px 0;">
                                            <span style=" color:white; text-transform:none; cursor:pointer; display: flex; align-items: center; grid-gap: 10px; font-size: 16px; padding: 10px 5px; border-radius: 10px; ">
                                                <i class="fa fa-plus-circle"></i>
                                                Add
                                            </span>
                                        </div>

                                        
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>


                    <div class="w3_main_grid" style="display:none;" id="buttonSubmit">
                        <div class="w3_main_grid_right">
                            <input type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
           


        </div>
    </div>
  
    <!--<script src="~/js/script.js"></script>-->
    <script>
        const firstblock = document.getElementById('firstBlock');
        const secondblock = document.getElementById('secondBlock');

        function myFunction() {
            firstblock.style.display = "none";
            secondblock.style.display = "block";
           // document.getElementById('buttonSubmit').style.display = 'block';
        }

        function addItems() {
            console.log("items add");
            const block = document.getElementById('itt')
            
            var newElem = ` <div id="childItems" class="items">
                                                <div class="w3_agileits_main_grid w3l_main_grid">
                                                    <span class="agileits_grid">
                                                        <select asp-for="ProductOrder.ProductId">
                                                            <option value="none" selected="">Select item</option>
                                                            <option value="Ph">50</option>
                                                            <option value="Po">100</option>
                                                            <option value="So">200</option>
                                                            <option value="Sp">500</option>
                                                            <option value="Sw">1000</option>
                                                        </select>
                                                    </span>
                                                </div>

                                                <div style=" display: flex; align-items: center; justify-content: space-around; grid-gap: 20px">
                                                    <div class="w3_agileits_main_grid w3l_main_grid">
                                                        <span class="agileits_grid">
                                                            <select asp-for="ProductOrder.Quantity">
                                                                <option value="none" selected="">Quantity</option>
                                                                <option value="Ph">50</option>
                                                                <option value="Po">100</option>
                                                                <option value="So">200</option>
                                                                <option value="Sp">500</option>
                                                                <option value="Sw">1000</option>
                                                            </select>
                                                        </span>
                                                    </div>

                                                    <div onclick="removeRow(this)" style="padding: 5px; cursor: pointer; background-color: #dd6363; width: 20px; text-align: center; ">
                                                    <span style="color: white;">X</span>
                                                    </div>
                                                </div>

                                            </div>`;
            document.getElementById('itt').innerHTML += newElem;
            //document.getElementById('itt').insertAdjacentElement("afterend", newElem);
        }

        function removeRow(input) {
            console.log("this is the input", input.parentNode.parentNode);
            var item = document.getElementById("childItems");
            document.getElementById('itt').removeChild(item);
        }
    </script>
</body>
</html>